.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
  column-gap: var(--indent-col);
  row-gap: var(--indent-row);
}

.gallery-item {
  border: 1px solid rgba(var(--dark-gray-cl));
  height: 200px;
  width: 360px;
}

.gallery-image {
  height: calc(100% - 48px);
  width: 100%;
  object-fit: cover;
}

.image-info {
  display: flex;
  justify-content: space-between;
  padding: 4px 20px;
  height: 48px;
}

.info-section {
  text-align: center;
}

.info-title {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.04em;
}

.info-text {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

.load-more-btn {
  width: 125px;
  height: 40px;
}

.hidden {
  display: none;
}
