.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.search-input {
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid rgba(var(--light-gray-cl));
  border-radius: 4px;
  letter-spacing: 0.04em;
  transition: border-color var(--fast-trans);
}

.search-input:focus {
  border-color: rgba(var(--dark-blue-cl));
}

.search-input:hover {
  border-color: rgba(var(--black-cl));
}

.search-input::placeholder {
  color: rgba(var(--light-gray-cl));
}

.search-btn {
  width: 91px;
  margin-left: 8px;
}
